@media print {
    .confirmation-page .d-flex.flex-column.align-items-center.gap-4 {
        visibility: hidden;
    }
    .confirmation-page .btn.btn-lg.btn-primary.w-100.w-md-auto{
        visibility: hidden;
    }
}